
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#main-menu {
  text-align: center;


  ul {
    list-style: none;
  }
}

.form-aptitudes {
  .column, .columns {
    text-align: center;
    .input-group {
      display: inline-block;
      padding: 5px;

      input {
        max-width: 40px;
        text-align: center;
      }
    }
  }
}

